<!DOCTYPE html>
<html>
  <head>
    <title>MatsumotoSyoten</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if customer_signed_in? %>
    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
    <% end %>

    <p id="notice" style="color: green;">
      <%= flash[:notice] %>
    </p>

    <%= yield %>
  </body>
</html>
